<div
  class="py-6 mt-14 rounded border-t-2 bg-gray-900 w-full text-center flex justify-center"
>
 <h1 class="text-white font-semibold">
    Made by <a href="https://www.linkedin.com/in/fernport/" target="_blank" class="no-underline text-blue-700 hover:text-blue-600 hover:shadow-md">Fernando Portillo</a>
 </h1>
</div>