<div class="w-full mt-2 bg-white rounded-sm" style="height: 600px;">
    <div class="w-full flex flex-col justify-center items-center text-center h-full">
        <div>
            <h1 class="text-black">UTD Flowchart Tracker</h1>
            <p class="text-slate-800 mt-2">A simple way to keep track of your Flowchart.</p>
        </div>
        <div class="mt-4">
            <a href="/auth/create-account"
                class="p-3 bg-blue-600 rounded-md text-white w-full no-underline block hover:border-2 hover:border-blue-900">
                Get started
            </a>
        </div>
    </div>
</div>
<div class="w-full mt-16 mb-16 pt-24 pb-24">
    <div class="w-full text-center text-white">
        <h1>
            What can it do?
        </h1>
    </div>
    <div class="w-full grid grid-cols-12 gap-4 p-8">
        <div class="col-span-12 md:col-span-4 bg-slate-800 p-4">
            <h3 class="text-white text-center">
                Save
            </h3>
            <div class="w-full flex justify-center mt-2">
                <img class="w-16" src="/icons/icons8-save-90.png" alt="" srcset="">
            </div>
            <div class="w-full flex justify-center mt-2">
                <div class="w-2/3 p-2">
                    <p class="text-white text-center">
                        Save any changes made to your flowchart so you can come back later or on a different device.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-span-12 md:col-span-4 p-4 bg-slate-800">
            <h3 class="text-white text-center">
                Categories
            </h3>
            <div class="w-full flex justify-center mt-2">
                <img class="w-16" src="/icons/icons8-category-96.png" alt="" srcset="">
            </div>
            <div class="w-full flex justify-center mt-2">
                <div class="w-2/3 p-2">
                    <p class="text-white text-center">
                        Color code the status of a course with one of the following categories: Taken, Currently,
                        Planning.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-span-12 md:col-span-4 p-4 bg-slate-800">
            <h3 class="text-white text-center">
                Multiple Flowcharts
            </h3>
            <div class="w-full flex justify-center mt-2">
                <img class="w-16" src="/icons/icons8-category-58.png" alt="" srcset="">
            </div>
            <div class="w-full flex justify-center mt-2">
                <div class="w-2/3 p-2">
                    <p class="text-white text-center">
                        If you for some reason have multiple flowcharts or want to explore. Go ahead and change your
                        major in the settings. It keeps track of each one!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-full">
    <div class="w-full text-center text-white">
        <h1>
            Have any feedback?
        </h1>
    </div>
    <div class="mt-6" data-tf-widget="mpSEPBs3" data-tf-iframe-props="title=UTD Flowchart Tracker Feedback" data-tf-medium="snippet" data-tf-disable-auto-focus=true
        style="width:100%;height:500px;"></div>
    <script src="//embed.typeform.com/next/embed.js"></script>
</div>